@import '../../../global/global.scss';

/*.navigation {
    max-width:100%;
    max-height:100%;
    height: auto;
    width:auto;
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex: 1;
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    border-style: solid;
}

.navbarborder {
    display: flex;
    padding: 5px;
    margin: 6px;
}
*/

.navigation {
    font-size: 1.5em;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    border-style: solid;
    padding: 20px;
}

.navbarborder {
    display: flex;

}