@import '../../../global/global.scss';

.container
{
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -1px;
  z-index: 1000;
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
  }
}

.container a
{
    color: #282828;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-weight: bold;
}
.child
{
    background: #fff;
    opacity: .9;
    border-bottom: 1px solid #eee;
}

.topBotomBordersOut a:before, .topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: black;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
}

.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
    background: #ad2525;
}

@media only screen and (max-width: 400px) {
    .container {
        padding: .8em;
    }
    
    .container a {
        font-size: .9em;
    }
    
    .container {
        ul {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {

}

@media only screen and (min-width: 961px) {

}