@import '../../../global/global.scss';

.portfolio {
    h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: .07em;
        line-height: 1em;
        padding-bottom: 22.5px;
        padding-top: 12px;
        color: #2c3e50;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        display: flex;
        justify-content: center;
        margin-top: .1em;
        margin: auto;
        position: relative;
    }
}

.portfolio-grid {
    display: flex;
    justify-content: center;
}

.project-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: all .5s ease;

    h4 {
        font-size: 30px;
        padding: 8px;
        margin: 30px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        
        border-bottom: .75px solid white;
        
        transition: margin-bottom .3s ease-in;
      }

    a {
        border: .5px solid white;
        transition: margin-bottom .3s ease-in;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }

    .portfolio-grid-item:hover .project-hover {
        visibility: visible;
        opacity: 1;
        
        height: 100%;
        width: 100%;
        
        background: linear-gradient(
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.8)
          );
          
          a:hover {
            background: white;
            color: black;
          }
          
          .current {
            margin: 5px;
          }
          
          transition: margin-bottom .3s ease-in;
        }
      
}

//phones
@media only screen and (max-width: 425px) {
    .portfolio-grid {
        flex-direction: column;

        .portfolio-grid-item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            img {
                display: flex;
                align-self: center;
                width: 300px;
                height: 300px;
            }
        }
    }
}

//tablets
@media only screen and (min-width: 426px) and (max-width: 960px) {
    .portfolio-grid {
        flex-direction: column;
    }
}

//desktops
@media only screen and (min-width: 961px) {
    .portfolio-grid {
        flex-direction: column;
        padding-left: 9em;
        padding-right: 9em;
    }
}