@import '../../../global/global.scss';

@keyframes slider  {
    0% {
        left: 0;
        opacity: .6;
    }

    20% {
        left: 0;
        opacity: .6;
    }

    25% {
        left: -100%;
        opacity: .6;
    }

    45% {
        left: -100%;
        opacity: .6;
    }

    50% {
        left: -200%;
        opacity: .6;
    }

    70% {
        left: -200%;
        opacity: .6;
    }

    75% {
        left: -300%;
        opacity: .6;
    }

    95% {
        left: -300%;
        opacity: .6;
    }

    100% {
        left: -400%;
        opacity: .6;
    }
}

.slider {
    overflow: hidden;
    max-width: 100%;

    .wrapper {
        font-size: 50px;
        text-align: center;

        .wrapper-child {
            position: relative;
            top: -8em;
        }
    }
}

.slider figure img {
    width: 20%;
    float: left;
    height: 100vh;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
}
/*
.wrapper {
    display: flex;
    //verical alignment
    align-items: center;
    background-image: url('../../../public/background1.jpg');
    background-attachment: fixed;
    height: 100vh;
    //horizontal alignment
    justify-content: center;
    font-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding: 20px;

    .wrapper-child {
        display: flex;
        font-size: 90px;
    }
}
*/
/*
this styling is for changing text for hover

.wrapper:hover {
    font-size: 0;
}

.wrapper:hover:after {
    content: attr(data-hover);
    font-size: 24px;
    line-height: 28px;
    font-weight: 200px;
    text-align: center;
}

*/