@import '../../../global/global.scss';

.aboutMe {
    display: flex;
    flex-direction: row;
    padding: 21px;
    background-color: rgb(111, 111, 185);
    color: white;
    font-family: sans-serif;
}

.aboutMePicture {

    img {
        border-radius: 50%;
        width: 375px;
        padding: 15px;
        margin-left: 50px;
        margin-top: 68px;
    }
}

.headerAndParagraph {
    display: flex;
    flex-direction: column;
    padding: 94px;
    line-height: 2.0em;

    h1 {
        font-size: 22px;
        position: relative;
        background: #3db2e1;
        border-radius: .4em;
        text-align: center;
        box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
        margin-bottom: 10px;
        padding: 9px;
    }

    h1:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: #3db2e1;
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -20px;
    }
}

.photo-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 45px 0;
  
  
    .photo-grid-items {
      width: 33.333%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      img {
        height: 450px;
        // -webkit-filter: grayscale(100%);
        //fix
        width: 100%;
      }
      
      img:hover {
        filter: none;
      }
    }
  }

  .about-content {
      display: flex;
      flex-direction: column;
      background-color: #6f6fb9;
      color: white;
      line-height: 1.8em;
      font-family: apple chancery;

      ol {
        list-style-type: decimal;
        list-style-position: inside;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
      }

      li {
          font-size: 19px;
      }

      h1 {
          font-size: 25px;
          display: flex;
          justify-content: center;
          margin-top: 16px;
          text-decoration: underline;
      }
  }