@import '../../../global/global.scss';
@import url(http://fonts.googleapis.com/css?family=Raleway);
.aboutMe {
    display: flex;
    flex-direction: column;
    padding: 21px;
    background-color: rgb(111, 111, 185);
    color: white;
}