@import '../../../global/global.scss';

.skills {
    font-family: 'Montserrat';
    justify-content: center;
    background-color: #eaeaea;
    font-weight: bold;
    font-size: 19px;
}

.skill-title {
    h3 {
        text-align: center;
        padding: 1em;
    }
}

.containerForSkills {
    flex-direction: column;

}

.headerSkills {
    padding-top: 12px;
    
    h1 {
        font-size: 42px;
        text-transform: uppercase;
        letter-spacing: .07em;
        line-height: 1em;
        padding-bottom: 22.5px;
        padding-top: 12px;
        color: #2c3e50;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
}

.moreSkills {

    h1 {
        text-align: center;
    }
}

.react-sweet-progress-symbol {
    padding-right: 2em;

}

.progress-circle {
    height: 8em;
    text-align: center;

    .react-sweet-progress-symbol-absolute {
        padding-left: 1.5em;
    }
}

.row {
    margin: 0;
}

//tablets
@media only screen and (min-width: 426px) and (max-width: 960px) {
    col-md-6 {
        padding-right: 1em;
        padding-left: 1em;
    }
}

//desktop
@media only screen and (min-width: 961px) {
    .skills {
        padding-left: 7em;
        padding-right: 7em;
    }

    .moreSkills-columns {
        h1 {
            font-size: 1em;
        }
    }
}