@import '../../../global/global.scss';

.skills {
    font-family: 'Montserrat';
    justify-content: center;
    background-color: #eaeaea;
    font-weight: bold;
    font-size: 19px;
}

.containerForSkills {
    flex-direction: column;

}

.headerSkills {
    padding-top: 12px;
    
    h1 {
        font-size: 42px;
        text-transform: uppercase;
        letter-spacing: .07em;
        line-height: 1em;
        padding-bottom: 22.5px;
        padding-top: 12px;
        color: #2c3e50;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
}

.col-md-6 {
    padding-top: 2em;
}

.moreSkills {

    h1 {
        text-align: center;
    }
}

.react-sweet-progress-symbol {
    padding-right: 2em;
}